{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
<div class="form-group">
    <label for="InputTitle">祝日　日付</label>
    <input type="date" class="form-control" id="InputTitle" name=date>
    </div>

    <div class="form-group">
    <label for="InputText">祝日　テキスト</label>
    <textarea class="form-control" id="InputText" name=text rows="3"></textarea>
    </div>
    
    <div class="btn-group">
        <button type="submit" class="btn btn-primary" name="button" value="add">新規登録・更新</button>
    </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary" name="button" value="delete">削除</button>
    </div>
    <br><br>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary" name="button" value="show">一覧表示</button>
    </div>
    </form>
    {% endblock %}