{% extends "layout.html" %}
{% block body %}
<ul class="list-group list-group-flush">

{% for entry in entries %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">id:{{entry.id}}/装備名{{ entry.equip }}/スロット数{{entry.srot}}/追加スキル{{entry.skill}}:理論値まで{{value}}ポイント</h5>
    </div>
    <div class="cau">
        <h6>1スロット１ポイント：スキル(攻撃：２ポイント)</h6>
</div>
{% else %}
装備が登録されていません
{% endfor %}
</ul>
<br><br>
<a href="{{url_for('show_entries')}}">
    <button type="button" class="btn btn-primary">戻る</button>
</a>
{% endblock %}