{% extends "layout.html" %}
{% block body %}
<table class="table">
    <thead>
        <tr class="table-primary">
            <th scope="col">祝日</th>
            <th scope="col">テキスト</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in holi_list %}
        <tr>
            <td>{{entry.holi_date}}</td>
            <td>{{entry.holi_text}}</td>
        </tr>
        {% else %}
        <tr>
            <td>祝日マスタが登録されていません</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{{url_for('input')}}" method="post">
    <button type="submit" class="btn btn-primary">戻る</button>
</form>
<br><br>
{% endblock %}