{% extends "layout.html" %}
{% block body %}
<form action="{{url_for('show_result')}}" method="post">
    <div class="form-group">
        <label for="InputDate">祝日 日付</label>
        <input type="date" class="form-control" id="InputDate" name="holi_date">
    </div>
    <br>
    <div class="form-group">
        <label for="InputText">祝日 テキスト</label>
        <input type="text" class="form-control" id="InputText" name="holi_text">
    </div>

    <button type="submit" class="btn btn-primary" name="button" value="insert_update">新規登録・更新</button>

    <button type="submit" class="btn btn-danger" name="button" value="delete">削除</button>
</form>
<br>
<br>
<form action="{{url_for('show_holidaylist')}}" method="get">
    <button type="submit" class="btn btn-secondary">一覧出力</button>
</form>
{% endblock %}